/* style général page */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #213640;
    display: flex;
    flex-direction: column;
}

/* style forme + transition */ 

main {
    flex-grow: 1;
}

#glob {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 205px;
    background-color: #A2BFBB;
    border-radius: 15px;
    margin: 8% 2% 2% 2%;
    margin-left: 10%;
    transition: box-shadow .7s;
}

#glob:hover {
    box-shadow: 0 0 50px #A2BFBB;
}

/* style du titre */ 

h1 {
    color: white;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

/* style contenu. Icones + légendes */

img {
    margin-bottom: 10%;
}

.icon {
    flex-direction: row;
    padding: 5%
}

figcaption {
    color: white;
    font-family: 'Raleway', sans-serif;
   /*  font-weight: bold; */
}

.center {
    text-align: center;
}

footer {
    left: 40%;
    position: inherit;
    bottom: 0;
    /* margin-top: 11%; */
}

/* centrer les images */

.competences {
    display: block;
    margin: auto;
}

/* partie responsive */ 

@media (max-width: 414px) {
    #glob {
       height: 900px;
       width: 80%;
       flex-direction: column;
    }

    .icon {
        margin: auto;
    }
}