/* style général page */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #213640;
    display: flex;
    flex-direction: column;
}

/* style forme + transition */ 

main {
    flex-grow: 1;
}

#global {
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: -2%;
}

#left, #right {
 width: 40%;
 height: 420px;
 background-color: #A2BFBB;
 border-radius: 15px;
 margin: 3% 2% 2% 2%;
 transition: box-shadow .7s;
}

#left:hover, #right:hover {
    box-shadow: 0 0 50px #A2BFBB;
}

/* style des titres */ 

h1, h2 {
    color: white;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

h2 {
    padding-top: 5%;
    padding-bottom: 2%;
}

/* style contenu  paragraphes */

.parag, form {
    color: white;
    font-family:  'Raleway', sans-serif;
}

.parag {
    text-align: center;
    margin-bottom: 0.4rem;
}

.link {
    display: block;
    text-align: center;
}


#link {
   color: #213640;
}

.logocv {
    width: 58px;
}
   

/* formulaire style */

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 0; 
}

.formulaire {
    margin-bottom: 5%;
}

.inp {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

#msg {
    border: 1px solid white;
}

button {
    color: rgb(39, 143, 129);
    margin-top: 8px;
    background-color: transparent;
    border-radius: 15px;
    padding: 5px 15px;
    border: 1px solid white;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}

/* style footer */
footer {
    margin-top: 9px;
}

/* changement style bootstrap */ 

.nav-link {
    font-family: 'Raleway', sans-serif !important;
}

.navbar-light .navbar-toggler {
    border-color: white !important;
}

/* partie responsive */ 

@media (max-width: 414px) {
    #global {
        display: flex;
        flex-direction: column;
    }
    #left, #right {
        width: 80%;
        margin: 10%;
    }
    .parag2 {
        display: none;
    }

    .link {
        position: absolute;
        left: 40%;
    }
}