/* style général page */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #213640;
    display: flex;
    flex-direction: column;
}

/* style forme + transition */ 

main {
    flex-grow: 1;
}

#global {
    height: 100%;
  /*   display: flex; */
    justify-content: center;
}

#left, #right {
 width: 40%;
 height: auto;
 background-color: #A2BFBB;
 border-radius: 15px;
 margin: 3% 2% 2% 2%;
 padding-bottom: 6px;
 }

/* style des titres */ 

h1, h2 {
    color: white;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

h2 {
    padding-top: 5%;
    padding-bottom: 6%;
}

/* style contenu  paragraphes */

.parag, .parag2, ol {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.parag {
    text-align: center;
    margin-bottom: 0.4rem;
}

.parag2 {
    text-align: justify;
    margin-left: 1.5rem;
    margin-right:1.5rem;
}

.gras {
    font-weight: bold;
}

ol {
    list-style: inside;
    margin-top: 6%;
    padding-right: 8%;
    text-align: justify;
}

a {
    color: #213640;
}

/* style footer*/ 

footer {
    margin-top: 5%;
}

/* changement style bootstrap */ 

.nav-link {
    font-family: 'Raleway', sans-serif !important;
}

.navbar-light .navbar-toggler {
    border-color: white !important;
}

/* partie responsive */ 

@media (max-width: 411px) {
    #global {
        display: flex;
        flex-direction: column;
    }
    #left, #right {
        width: 95%;
        height: 380px;
    }
    .parag2 {
        display: none;
    }
}