/* style général page */

body {
    display: flex;
    flex-direction: column;
}

/* style forme + transition */

main {
    flex-grow: 1;
}

.contenu {
    width: 50%;
    height: auto;
    background-color: #A2BFBB;
    border-radius: 15px;
    margin: 3% 2% -2% 25%;
    padding: 8px;
    transition: box-shadow .7s;
    display: flex;
    flex-direction: column;
}

.contenu:hover {
    box-shadow: 0 0 50px #A2BFBB;
}

/* style titre */

h1 {
color: white;
text-align: center;
font-family: 'Anton', sans-serif;
}

/* style contenu */

.hobbie {
    text-align: justify;
    margin-left: 8%;
    margin-right: 8%;
}

/* style footer */

.footer {
    margin-left: 42%;
}

/* style responsive */

@media (max-width: 414px) {
    h1{
        margin-left: 35%;
    }

    .contenu{
        width: 80%;
        height: 629px;
        margin-left: 10%;
   }

   footer{
       margin-left: -37%;
   }
}