* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #213640;
}

.row {
    display: flex;
    justify-content: center;
    margin: 0;
}

#gauche, #droite {
    border-radius: 4%;
    height: 500px;
    width: 50%;
    /* margin: 5px; */
}

#gauche {
    background-color: #A2BFBB;
}

 #droite {
    background-image: url(./img/rebecca.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /*ok*/
}

#hello, #im {
    font-family: 'Anton', sans-serif;
    margin: 50px;
    color: white;
}

#hello {
    font-size: 5em;
    margin-bottom: 0px;
}

#im {
    font-size: 2.8em;
    margin-top: 0px;
    margin-bottom: 10px;
}

#dev {
    font-size: 1.2em;
    margin: 57px;
    margin-top: 0px;
    font-family: 'Major Mono Display', monospace;
    color: white;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-light .navbar-brand {
    color: white !important;
    font-family: 'Permanent Marker', cursive !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.navbar-light .navbar-toggler {
    color: white !important;
    border-color: white !important;
}

@media (max-width: 400px) {
    #droite {
        display : none;
    }
    #gauche {
        width : 85%;
    }
}