/* style général page */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #213640;
}

/* style forme + transition */ 

.row {
    display: flex;
    justify-content: center;
    margin: 0;
}

#gauche, #droite {
    height: 500px;
    width: 50%;
    margin-top: 1.5%;
}

#gauche {
    background-color: #A2BFBB;
    border-top-left-radius: 4%;
    border-bottom-left-radius: 4%;
    margin-left: 5%;
}

 #droite {
    background-image: url(./img/rebecca.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-top-right-radius: 4%;
    border-bottom-right-radius: 4%;
    margin-right: 5%;
}

/* style contenu  paragraphes */

#hello, #im {
    font-family: 'Anton', sans-serif;
    margin: 50px;
    color: white;
}

#hello {
    font-size: 5em;
    margin-bottom: 0px;
}

#im {
    font-size: 2.8em;
    margin-top: 0px;
    margin-bottom: 10px;
}

#dev {
    font-size: 1.2em;
    margin: 57px;
    margin-top: 0px;
    font-family: 'Major Mono Display', monospace;
    color: white;
}

/*style footer*/

footer {
display: flex;
}

p {
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-top: 1em;
    margin-left: auto;
 }

/* changement style bootstrap */ 

.bg-light {
    background-color: transparent !important;
}

.navbar-light .navbar-brand {
    color: white !important;
    font-family: 'Permanent Marker', cursive !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.nav-link {
    font-family: 'Raleway', sans-serif !important;
}

.navbar-light .navbar-toggler {
    border-color: white !important;
}

.navbar-light .navbar-toggler-icon{
    background-image: url(./img/burger.png) !important;
}

/* partie responsive */ 

@media (max-width: 414px) {
    #droite {
        display : none;
    }
    #gauche {
        width : 85%;
        border-radius: 4%;
        margin-right: 5%;
    }
}
